#
*.dll binary
*.lib binary
*.pdb binary
*.exe binary


# Archives
*.zip binary


# 3D Models
*.fbx binary
*.obj binary
*.max binary
*.mb binary
*.lxo binary


# Textures
*.wav
*.bmp
*.float binary
*.pcx binary
*.png binary
*.psd binary
*.tga binary
*.jpg binary
*.exr binary
*.dds binary
*.hdr binary
*.tif binary
*.tiff binary
*.svg binary
*.ai binary
*.svgz binary
